<div class="container my-4">
    <div class="row mb-2">
        <div class="col"></div>
        <div class="col-6 text-center">
            <h3>Course List</h3>
        </div>
        <div class="col"></div>
    </div>
    <div class="row" *ngIf="hasError()">
        <div class="col"></div>
        <div class="col-6 alert alert-danger">
            {{errorMessage}}
        </div>
        <div class="col"></div>
    </div>
    <div class="row" *ngIf="courses && courses.length === 0">
        <div class="col-12 alert alert-warning">
            No courses created yet. Do you want to <a [routerLink]="['/courses/create']">create one</a>?
        </div>
    </div>

    <div class="row" *ngIf="courses && courses.length > 0">
        <div class="col-12">
            <div class="row app-table-header">
                <div class="col-2">Code</div>
                <div class="col-5">Name</div>
                <div class="col-1">Section</div>
                <div class="col-2">Semester</div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
            <div class="row app-table-body" *ngFor="let course of courses">
                <div class="col-2 py-2">{{course.code}}</div>
                <div class="col-5 py-2">{{course.name}}</div>
                <div class="col-1 py-2">{{course.section}}</div>
                <div class="col-2 py-2">{{course.semester}}</div>
                <div class="col py-2">
                    <a class="app-operation-link" [routerLink]="['/courses', course._id, 'edit']"><i class="fas fa-edit"></i></a>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-link app-operation-link" (click)="delete(course._id)"><i class="fas fa-trash-alt"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
